@model Mimar.Models.Siniflar.Anasayfa
@{
    ViewBag.Title = "AsamaGetir";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<h2>Hizmet Güncelleme Ekranı</h2>
<br />
@using (Html.BeginForm("AsamaGüncelle", "Asama", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
<div class="form-group">
    @Html.HiddenFor(x => x.AnaID)
    @Html.LabelFor(x => x.Asama1Baslik)
    @Html.TextBoxFor(x => x.Asama1Baslik, new { @class = "form-control" })
    <br />
     @Html.LabelFor(x => x.Asama1Aciklama)
    @Html.TextBoxFor(x => x.Asama1Aciklama, new { @class = "form-control" })
    <br/>
     @Html.LabelFor(x => x.Asama2Baslik)
    @Html.TextBoxFor(x => x.Asama2Baslik, new { @class = "form-control" })
    <br/>
     @Html.LabelFor(x => x.Asama2Aciklama)
    @Html.TextBoxFor(x => x.Asama2Aciklama, new { @class = "form-control" })
   
    <br />
    @Html.LabelFor(x => x.Asama3Baslik  )
    @Html.TextBoxFor(x => x.Asama3Baslik, new { @class = "form-control" })
    <br/>
    @Html.LabelFor(x => x.Asama3Aciklama)
    @Html.TextBoxFor(x => x.Asama3Aciklama, new { @class = "form-control" })
    <br/>
    @Html.LabelFor(x => x.Asama4Baslik  )
    @Html.TextBoxFor(x => x.Asama4Baslik, new { @class = "form-control" })
    <br/>
    @Html.LabelFor(x => x.Asama4Aciklama)
    @Html.TextBoxFor(x => x.Asama4Aciklama, new { @class = "form-control" })
    <br/>

   
    <button class="btn btn-default" style="background-color:yellowgreen">Güncelle</button>

</div>
}
